.App {
  text-align: center;

  // main container for the animecards
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1.8rem;

    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1.8rem;
    text-align: left;

    @media screen and (max-width: 600px) {
      .card-container {
        text-align: center;
      }
    }
    // anime images
    .card-poster {
      max-width: 100%;
      height: auto;
    }
    // anime title
    .card-title {
      border-radius: 10px;
      font-size: 1.2rem;
    }
    // anime ratings
    .card-rating {
      color: orange;
    }
  }

  // header
  .header {
    margin-bottom: 2rem;

    // banner image in the header
    .header-img {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
